<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Bootstrap icons, Google fonts, Core theme CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" /> -->
        <link href="/public/css/main.css" rel="stylesheet" /> 
    
    
  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <div class="container">
          <a class="navbar-brand" href="#">SOLARIS T6</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/aboutus">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/service">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contactus">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/Image">Image Uploader</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/userchat">Chat</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Sign In</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/feedbackform">Give Feedback</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-outline-light" href="/bookdemo">Book Demo</a>
                  </li>
                </ul>
              </div>
        </div>
      </nav>

    <!-- Page Header -->
    <header  >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1 style="text-align: center;">{{titledesc}}</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div>
        <form style="margin: 25px auto !important;" id="bookdemo-form" method="post">
               <label for="nameInput">Name:</label><br>
               <input type="text" id="nameInput" name="nameInput" placeholder="Please enter your Name"><br>

               <label for="emailAddressInput">Email:</label> <br>
               <input type="email"  id="emailAddressInput" name="emailAddressInput" placeholder="Please enter your email address"> <br>

               <label for="phoneNumberInput">Contact Number:</label><br>
               <input type="tel"  id="phoneNumberInput" name="phoneNumberInput" placeholder="Please enter your contact number"><br>
               
               <label for="addressInput">Address:</label> <br>
               <input type="text" id="addressInput" name="addressInput" placeholder="Please Enter your Address"> <br>

               <label for="scheduledateInput">Schedule Date:</label>
               <input type="date" id="scheduledateInput" name="scheduledateInput">
               
               <label for="scheduleTimeInput">Schedule Time:</label>
               <input type="time" id="scheduleTimeInput" name="scheduleTimeInput">
               <button type="submit" value="Submit">Submit</button>
            </form>
    </div>

    <div>
        {{{success}}}
        {{{error}}}
    </div>

    <!-- Footer -->
    <div class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 h-100 text-lg-start my-auto mx-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="/aboutus">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="/contact">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Solaris Website 2023. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
    </div>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/public/js/bookdemo.js"></script>
</body>