<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
      <!-- Bootstrap icons, Google fonts, Core theme CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" /> -->
        <link href= "/public/css/main.css" rel="stylesheet" /> 
        <style>
            .row {
              display: flex;
              justify-content: space-between;
              margin-bottom: 20px;
            }
      
            .card {
              width: 200px;
              padding: 10px;
              border: 1px solid #ddd;
              text-align: center;
            }
      
            .card img {
              width: 100%;
              height: auto;
              border-radius: 50%;
            }
      
            .card h3 {
              margin-top: 10px;
            }
        </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <div class="container">
          <a class="navbar-brand" href="#">SOLARIS T6</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/aboutus">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/services">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contactus">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/Image">Image Uploader</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/userchat">Chat</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Sign In</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/feedbackform">Give Feedback</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-outline-light" href="/bookdemo">Book Demo</a>
                  </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <header>
            <h1>Contact Us</h1>

        </header>
        <div class="content">
            <div class="content-form" style="display: flex; justify-content: space-between; align-items: center;">
                <section>
                  <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                  <h2>Address</h2>
                  <p>Stevens Institute of Technology,<br>Hoboken, New Jersey, <br>07030</p>
                </section>
              
                <section>
                  <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                  <h2>Phone</h2>
                  <p>123-456-7890</p>
                </section>
              
                <section>
                  <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                  <h2>E-mail</h2>
                  <p>solarapplications@gmail.com</p>
                </section>
              </div>
        </div>

        <div>
            <div class="row">
                <div class="card">
                  <img src="/public/img/dev1.jpg" alt="Developer 1">
                  <h3>Sushil</h3>
                </div>
          
                <div class="card">
                  <img src="/public/img/dev2.jpg" alt="Developer 2">
                  <h3>Jahnavi</h3>
                </div>
          
                <div class="card">
                  <img src="/public/img/dev3.jpg" alt="Developer 3">
                  <h3>Xiong</h3>
                </div>
          
                <div class="card">
                  <img src="/public/img/dev4.jpg" alt="Developer 4">
                  <h3>Sai</h3>
                </div>
              </div>
          
              <div class="row">
                <div class="card">
                  <img src="/public/img/dev5.jpg" alt="Developer 5">
                  <h3>Sumanth</h3>
                </div>
          
                <div class="card">
                  <img src="/public/img/dev6.jpg" alt="Developer 6">
                  <h3>Vishal</h3>
                </div>
          
                <div class="card">
                  <img src="/public/img/dev7.jpg" alt="Developer 7">
                  <h3>Sindu</h3>
                </div>
          
                <div class="card">
                  <img src="/public/img/dev8.jpg" alt="Developer 8">
                  <h3>Jiang</h3>
                </div>
              </div>
        </div>

      
        <!-- Footer -->
    <div class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 h-100 text-lg-start my-auto mx-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="/aboutus">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="/contact">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Solaris Website 2023. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
    </div>
        
    </div>    
</body>