<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Bootstrap icons, Google fonts, Core theme CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" /> -->
        <link href="/public/css/main.css" rel="stylesheet" /> 
    
    
  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <div class="container">
          <a class="navbar-brand" href="#">SOLARIS T6</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/aboutus">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/service">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contactus">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/Image">Image Uploader</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/userchat">Chat</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Sign In</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/feedbackform">Give Feedback</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-outline-light" href="/bookdemo">Book Demo</a>
                  </li>
                </ul>
              </div>
        </div>
      </nav>

    <!-- Page Header -->
    <header  >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1 style="text-align: center;">Our Services</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container my-5">
      <div class="row">
        <div class="col-lg-6 col-md-6 mb-4">
          <div class="card h-100">
            <img src="/public/img/solarpannal.jpg" class="card-img-top" alt="Solar Panels">
            <div class="card-body">
              <h5 class="card-title">Solar Panel Installation</h5>
              <p class="card-text">We provide high-quality solar panel installation services for residential and commercial properties.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mb-4">
            <div class="card h-100">
              <img src="/public/img/solarwaterpump.jpg" class="card-img-top" alt="Solar Pump">
              <div class="card-body">
                <h5 class="card-title">Solar Water Pump Installation</h5>
                <p class="card-text">We offer solar water pump installation services to help you save energy and reduce your carbon footprint.</p>
              </div>
            </div>
          </div>
        
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 mb-4">
          <div class="card h-100">
            <img src="/public/img/solarwaterheater.jpg" class="card-img-top" alt="Solar Water Heater">
            <div class="card-body">
              <h5 class="card-title">Solar Water Heater Installation</h5>
              <p class="card-text">We provide solar water heater installation services to help you save money on your energy bills.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mb-4">
            <div class="card h-100">
              <img src="/public/img/solarbatterystorage.jpg" class="card-img-top" alt="Solar Battery">
              <div class="card-body">
                <h5 class="card-title">Solar Battery Storage</h5>
                <p class="card-text">We offer solar battery storage solutions to help you save energy and reduce your carbon footprint.</p>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 mb-4">
          <div class="card h-100">
            <img src="/public/img/solarinventer.jpg" class="card-img-top" alt="Solar Inverter">
            <div class="card-body">
              <h5 class="card-title">Solar Inverter Installation</h5>
              <p class="card-text">We provide high-quality solar inverter installation services for residential and commercial properties.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mb-4">
          <div class="card h-100">
            <img src="/public/img/solarpannelmaintainance.jpg" class="card-img-top" alt="Solar Maintenance">
            <div class="card-body">
              <h5 class="card-title">Solar Panel Maintenance</h5>
              <p class="card-text">We offer solar panel maintenance services to help you keep your solar panels in good condition and maximize their lifespan.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 h-100 text-lg-start my-auto mx-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="/aboutus">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="/contact">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Solaris Website 2023. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
    </div>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>